<ons-page ng-controller="PageAppController as app" ons-show="app.title = 'Page'">
    <ons-toolbar>
        <div class="center">My App - {{app.title}}</div>
    </ons-toolbar>

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Master</div>
    </ons-toolbar>
 
      <div class="content" style="text-align: center">
        <p>hallo!</p>
        <p>HageHage</p>
        <div>
          <input type="text" ng-model="searchText.name">
          <br />
          <input type="button" ng-click="predicate = 'name'; reverse = false" value="昇順">
          <input type="button" ng-click="predicate = '-name'; reverse = false" value="降順">
        </div>
        <div>
          <table>
            <tr ng-repeat="cast in avengers.cast | filter:searchText | orderBy: predicate: reverse">
              <td>{{cast.name}}</td>
              <td>{{cast.character}}</td>
            </tr>
          </table>
        </div>
      </div>
    </ons-page>
</ons-page>
